{% extends "base.html.twig" %}
{% block body %}
    <h1>Car List</h1>
{% for car in cars %}
    <li>
        <a href="/car/{{ car.id }}">{{ car.brand }} - {{ car.name }}</a>
        <img src="{{ asset('/assets/car_img/'~car.imagePath~'') }}" alt="car_img" width="250px">
    </li>

{% endfor %}
{% endblock %}
